@import "tailwindcss";
.clip-diagonal {
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.rotated-card-wrapper {
  position: relative;
  width: 360px;
  padding-top: 40px;
  margin: 40px auto;
}

/* background diamonds */
.rotated-bg {
  position: absolute;
  width: 400px;
  height: 400px;
  border-radius: 24px;
  transform: rotate(45deg);
}

.bg-1 {
  background: #eef4ff;
  top: 2px;
  left: 20px;
}

.bg-2 {
  background: #f6f9ff;
  top: 60px;
  left: 60px;
}

/* main image */
.rotated-image-box {
  position: relative;
  width: 450px;
  height: 450px;
  margin-left:20px;
  transform: rotate(45deg);
  border-radius: 28px;
  overflow: hidden;
  box-shadow: 0 18px 36px rgba(0, 0, 0, 0.15);
  z-index: 2;
  transition: transform 0.3s ease;
}

.rotated-image-box:hover {
  transform: rotate(45deg) scale(1.05);
}

.rotated-image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: rotate(-45deg) scale(1.2);
}

/* badge */
.rotated-badge {
  position: absolute;
  left: 0;
  bottom: 10px;
  background: #2563eb;
  color: #ffffff;
  padding: 14px 20px;
  border-top-right-radius: 30px;
  z-index: 3;

}

.rotated-badge h3 {
  font-size: 22px;
  font-weight: 700;
}

.rotated-badge p {
  font-size: 12px;
  opacity: 0.9;
}

